* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  
  /* Base Colors */
  --color-light: #f9fafb;
  --color-dark: #111827;

  /* Doc-Level Color Vars */
  --color-fg: var(--color-dark);
  --color-bg: var(--color-light);
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--color-light);
    --color-bg: var(--color-dark);
  }
}
