---
let title = 'AstroBlog';
const thisYear = new Date().toLocaleDateString("en-US", {year: 'numeric'});
---

  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/style/global.css">
      <title>{title}</title>
    </head>
    <body>
      <header>
        <h1>
          <a href="/">{title}</a>
        </h1>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <p>&copy {thisYear} Some Dev Somewhere</p>
      </footer>
    </body>
  </html>